@import "tailwindcss";
.carsouel-bg{
  background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 63, 121, 0.88) 35%, rgba(0, 212, 255, 1) 78%);

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.button-bg{
  background: #963ab4;
background: linear-gradient(90deg, rgba(150, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}
.support_section_bg{
  background: #EEAECA;
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.overlay{
   background-color: rgba(255, 255, 255, 0.5);
}

.product{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 8px;
  column-gap: 2px;
}
.dataitem:hover{
box-shadow: 2px 2px ;
background-color: antiquewhite;

transform: scale(1.05);
transition-property: transfrom;
transition-duration: 2s;
transition-timing-function: linear;
}
input{
  accent-color: red;
}